%section.stocks_show
  %h2#notice= notice
  %strong Codigo:
  %span
    = @stock.code
  %strong Produto:
  %span
    = @stock.product.name
  %strong Status:
  %span
    = @stock.status
  %strong Quantidade:
  %span
    = @stock.amount
  .edit_back
    = link_to 'Editar', edit_users_stock_path([:users, @stock])
    \|
    = link_to 'Voltar', users_stocks_path, :class =>"back"
