= form_for [:users, @users_product] do |f|
  -if @users_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@users_product.errors.count, "error")} prohibited this users_product from being saved:"
      %ul
        - @users_product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category
    = collection_select(:category, :category_id, Category.all, :id, :name)
  .actions
    = f.submit 'Save'
