%section.products
  %h2 Listagem de Produtos
  = link_to 'Novo Produto', new_users_product_path, :class=> "new"
  = link_to "Voltar", users_root_path, :class=> "back"
  %table
    %tr
      %th Nome
      %th Categoria
      %th
      %th
    - @users_products.each do |users_product|
      %tr
        %td= users_product.name
        %td= users_product.category.name
        %td= link_to 'Editar', edit_users_product_path(users_product)
        %td= link_to 'Deletar', [:users ,users_product], :confirm => 'Você tem certeza?', :method => :delete


