%p#notice= notice

%p
  %b Name:
  = @users_product.name
%p
  %b Category:
  = @users_product.category

= link_to 'Edit', edit_users_product_path(@users_product)
\|
= link_to 'Back', users_products_path
