%section.contact
  %article
    %p A UniFloor quer te ouvir. Entre em contato conosco pelo telefone, e-mail ou preencha os campos abaixo e entraremos em contato o mais rápido possível. 
  %figure
    =image_tag "contato-img.png", :alt=>"Contato"
  =form_for(Message.new) do |f|
    %span
      = f.label :name, "Nome:"
    %p
      = f.text_field :name
    %span
      = f.label :mail, "E-Mail:"
    %p
      = f.text_field :mail
    %span
      = f.label :subj, "Assunto:"
    %p
      = f.text_field :subj
    %span
      = f.label :message, "Menssagem:"
    %p
      = f.text_area :message
    = f.submit( "Enviar", :disable_with =>"Enviando..." )


