= form_for [:users, @users_order] do |f|
  -if @users_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@users_order.errors.count, "error")} prohibited this users_order from being saved:"
      %ul
        - @users_order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Codigo
    = f.text_field :code
  .field
    = f.label :Comprador
    = collection_select(:customer, :user_id, Customer.all, :id, :name)
  .field
    = f.label :Usuário
    = collection_select(:user, :user_id, @representatives, :id, :name)
  .field
    = f.label :Preço
    = f.text_field :price
  .field
    = f.label :Ação
    = f.check_box :action
  .actions.right
    = f.submit 'Salvar'


