%section.orders
  %h2 Listagem de Pedidos
  = link_to 'Novo Pedido', new_users_order_path, :class=> "new"
  = link_to "Voltar", users_root_path, :class=> "back"
  %table
    %tr
      %th Codigo
      %th Comprador
      %th Representante
      %th Preço
      %th Concluido
    - @users_orders.each do |users_order|
      %tr
        %td= users_order.code
        %td= users_order.customer.name
        %td= users_order.user.name
        %td= users_order.price
        %td= users_order.action
        %td= link_to 'Mostrar', [:users, users_order], :class => "show"
        %td= link_to 'Editar', edit_users_order_path(users_order), :class => "edit"
        %td= link_to 'Deletar', [:users, users_order], :confirm => 'Você tem certeza?', :method => :delete, :class => "delete"


