%section.orders_show
  %h2#notice= notice
  .edit_back
    = link_to 'Voltar', users_orders_path, :class => "back"
  %table
    %tr
      %th Codigo
      %th Comprador
      %th Representante
      %th Preço
      %th Concluido
    %tr
      %td= @users_order.code
      %td= @users_order.customer.name
      %td= @users_order.user.name
      %td= @users_order.price
      %td= @users_order.action
  

