%section.orders_show
  %h2#notice= notice
  .edit_back
    = link_to 'Editar', edit_users_order_path(@users_order)
    \|
    = link_to 'Voltar', users_orders_path
  %table
    %tr
      %th Codigo
      %th Comprador
      %th Representante
      %th Peço
      %th Ação
    %tr
      %td= @users_order.code
      %td= @users_order.costumer
      %td= @users_order.representative
      %td= @users_order.price
      %td= @users_order.action
  

