%section.dashboard
  %h2 Painel de controle
  %nav
    %ul
      %li
        = link_to "Associados", associates_path
      %li
        = link_to 'Clientes', users_customers_path
      %li
        = link_to 'Categorias', users_categories_path
      %li
        = link_to 'Produtos', users_products_path
      %li
        = link_to 'Pedidos', users_orders_path
      %li
        = link_to 'Estoque', users_stocks_path