%section.dashboard
  %h2 Painel de controle
  %nav
    %ul
      %li
        = link_to "associados", associates_path
      %li
        = link_to 'clientes', users_customers_path
      %li
        = link_to 'categorias', users_categories_path
      %li
        = link_to 'produtos', users_products_path
      %li
        = link_to 'pedidos', users_orders_path
      %li
        = link_to 'estoque', users_stocks_path