= form_for(@employee, url: users_employees_path,  :html => {:multipart => true}) do |f|
  %ul
    %li.m_right
      = f.label "Nome"
      = f.text_field :name
    %li.m_right
      = f.label "email"
      = f.text_field :email
    %li.m_right
      = f.label "senha"
      = f.password_field :password
    %li.m_right
      = f.label "confirmacao de senha"
      = f.password_field :password_confirmation
    %li.submit
      = f.submit "Cadastrar"
  
  
  
  
  