= form_for(@employee, url: users_employees_path,  :html => {:multipart => true}) do |f|
  %ul
    %li.field
      = f.label "Nome"
      = f.text_field :name
    %li.field
      = f.label "Email"
      = f.text_field :email
    %li.field
      = f.label "Senha"
      = f.password_field :password
    %li.field
      = f.label "Confirmação de Senha"
      = f.password_field :password_confirmation
    %li.actions
      = f.submit "Cadastrar"  