%section.associates
  %h2 Associados
  = link_to "Voltar", users_root_path, :class=> "back"
  .administrator
    %strong Administradores
    %ul
      - @admins.each do |admin|
        %li
          %span= admin.email
          = link_to 'visualizar',  users_admin_path(admin)
          = link_to 'editar', edit_users_admin_path(admin)
    = link_to 'Novo Admin', new_users_admin_path, :class => "new"
  .representative
    %strong Representantes
    - @representatives.each do |representative|
      %li
        %span= representative.email
        = link_to 'visualizar', users_representative_path(representative)
        = link_to 'editar', edit_users_representative_path(representative)
    = link_to 'Novo Representante', new_users_representative_path, :class => "new"
  .emplooye
    %strong Funcionários
    - @employees.each do |employee|
      %li
        %span= employee.email
        = link_to 'visualizar', users_employee_path(employee)
        = link_to 'editar', edit_users_employee_path(employee)
        
    = link_to 'Novo Funcionário', new_users_employee_path, :class => "new"