= form_for(@representative, url: users_representatives_path,  :html => {:multipart => true, :class=> 'default_form'}) do |f|
  %ul
    %li.field
      = f.label "Nome"
      = f.text_field :name
    %li.field
      = f.label "Email"
      = f.text_field :email
    %li.field
      = f.label "Senha"
      = f.password_field :password
    %li.field
      = f.label "Confirmacao de Senha"
      = f.password_field :password_confirmation
    = f.fields_for :representative do |builder| 
      %li.field
        = f.label "CPF"
        = builder.text_field :cpf
      %li.field
        = f.label "RG"
        = builder.text_field :rg
      %li.field
        = f.label "Endereco"
        = builder.text_field :address
      %li.field
        = f.label "Bairro"
        = builder.text_field :neighborhood
      %li.field
        = f.label "CEP"
        = builder.text_field :cep
      %li.field
        = f.label "Cidade"
        = builder.text_field :city
      %li.field
        = f.label "UF"
        = builder.text_field :uf
      %li.field
        = f.label "Telefone"
        = builder.text_field :phone
      %li.field
        = f.label "Celular"
        = builder.text_field :cellphone
      %li.actions
        = f.submit 'Cadastrar'

  
  
  
  
  
  
  
  
  
    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  