= form_for(@representative, url: users_representatives_path,  :html => {:multipart => true}) do |f|
  = f.label "Nome"
  = f.text_field :name
  = f.label "email"
  = f.text_field :email
  = f.label "senha"
  = f.password_field :password
  = f.label "confirmacao de senha"
  = f.password_field :password_confirmation
  = f.fields_for :representative do |builder| 
    = f.label "CPF"
    = builder.text_field :cpf
    = f.label "RG"
    = builder.text_field :rg
    = f.label "Endereco"
    = builder.text_field :address
    = f.label "Bairro"
    = builder.text_field :neighborhood
    = f.label "CEP"
    = builder.text_field :cep
    = f.label "Cidade"
    = builder.text_field :city
    = f.label "UF"
    = builder.text_field :uf
    = f.label "Telefone"
    = builder.text_field :phone
    = f.label "Celular"
    = builder.text_field :cellphone
  = f.submit 'Cadastrar'