.logo
  %h1 Unifloor , piso laminado
  #{link_to " ", root_path}
  %hr
%hr.right
%nav.header
  #{link_to "Home", root_path, :title =>"Home"}
  #{link_to "UniFloor", "/unifloor", :title =>"Unifloor" }
  #{link_to "Produtos", "/produtos", :title =>"Produtos" }
  #{link_to "Acessórios", "/acessorios", :title =>"Acessórios" }
  #{link_to "Contato", "/contato", :title =>"Contato" }


