.logo
  %h1 #{link_to "Unifloor", root_path}
  %hr
%nav
  #{link_to "Home", root_path, :title =>"Home"}
  #{link_to "Unifloor", "/unifloor", :title =>"Unifloor" }
  #{link_to "Products", "/produtos", :title =>"Produtos" }
  #{link_to "Acessórios", "/acessorios", :title =>"Acessórios" }
  #{link_to "Contato", "/contato", :title =>"Contato" }
%hr

